.button {
  border-radius: var(--radius-common-button) !important;
  padding: 0.75rem !important;
  font-size: 1.25rem !important;
  color: var(--color-text-on-accent) !important;
  background-color: var(--accent) !important;
}