:root{
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --primary : #30475e;
  --accent : #f05454;
  --primary-light : #78b2eb opacity(33%);
  --primary-dark:  #233445;
  --alternative-primary-light: #66d6d3 opacity(33%);
  --accent-dark : #be4343;
  --radius-bg : 40px;
  --radius-common-button: 16px;
  --transition-speed: 600ms;
  --color-text-on-accent : white;
  --color-text-on-primary: white;

}

body{
  margin: 0;
  padding: 0;
  background: var(--primary);
}

body::-webkit-scrollbar{
  width: 0.5rem;
}
body::-webkit-scrollbar-track{
  background: var(--primary);
}
body::-webkit-scrollbar-thumb{
  background: var(--accent);
}

main{
  margin: 1rem 1rem 1rem 5rem;
  padding: 1rem;
  background: white;
  border-radius: 16px;
  height: calc(100vh - 4rem);
  overflow: auto;
  /* firefox scrollbar */
  scrollbar-color: var(--accent) var(--primary);
}

/* autres scrollbar */
main::-webkit-scrollbar{
  width: 0.5rem;
}
main::-webkit-scrollbar-track{
  background: var(--primary);
}
main::-webkit-scrollbar-thumb{
  background: var(--accent);
}

