services:

  client:
    build: ./client
    ports: 
      - 3000:3000
    volumes: 
      - ./client/src:/app/src
      - ./client/public:/app/public
    environment: 
      - REACT_APP_API_URL=http://localhost:4300

  server:
    build: ./server
    ports: 
      - 4300:4300
    volumes: 
      - ./server/src:/app/src

  mongodb:
    image: mongo
    volumes: 
      - mongodata:/data/db

volumes: 
  mongodata:
