.slideCreation-container {
  display: flex;
}

.slide {
  height: 150px;
  width: 300px;
  background-color: white;
  border-radius: var(--radius-common-button);
  cursor: pointer;
  overflow: hidden;
  /* margin-top: 10px; */
  padding: 5px;
  margin: 10px auto 0 auto;
}

.slide * {
  font-size: 0.5rem;
}

.slides-container {
  overflow-y: auto;
  /* overflow-x: hidden; */
  height: 800px;
  /* flex: 3; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  background-color: var(--primary-dark);
  /* border-radius: var(--radius-bg) 0  0 var(--radius-bg); */
  border-radius: var(--radius-bg);
  /* margin-right: -16px; */
  margin-bottom: 20px;
}

.slide-active {
  border: 2px solid var(--accent);
}

.slideCreation-rigth-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 15px;
}

.slides-container h2 {
  text-align: center;
  color: white;
}

.editor-container {
  flex: 3;
}