.main-login-page{
  margin: 1rem;
  padding: 1rem;
  background: white;
  border-radius: 16px;
  height: calc(100vh - 4rem);
  background-image: url("../../image/Background.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.login-page {
  width: 100%;
  height: 100%;
}

.navlink-login {
  color: var(--primary);
  text-decoration: none;
  font-size: 2rem;
  margin-right: 3rem ;
}

.login-nav-container {
  display: flex;
  justify-content: space-between;
}

.login-nav-container * {
  display: flex;
  align-items: center;
}

.login-main-container {
  display: flex;
  width: 100%;
  height: calc(100% - 59px);
}

.login-left-container {
  width: 60%;
}

.login-left-container h1 {
  letter-spacing:6px;
  margin-top: 150px;
  margin-left: 150px;
  color: var(--primary);
  font-size: 4rem;
}

.login-right-container {
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {

  .navlink-login {
    display: none;
  }

  .login-main-container {
    flex-direction: column;
  }

  .login-left-container {
    width: 100%;
  }
  

  .login-left-container h1 {
    letter-spacing:4px;
    margin-top: 20px;
    margin-left: 0px;
    font-size: 3.5rem;
  }

  .login-right-container {
    width: 100%;
  }
}